$red : #E65C43;
$white: #FFF;
$gray: #666;
$fontBody: 'Roboto';
$BackgroundBodyImg: '../images/bg.gif';
$logoImage: '../images/logo.png';
$socialMediaImage: '../images/social-media.png';
$graybarBackground:#F5F6F6;
$headBG: #F25C43;